<div class="container pt-5" style="height: 2500px;">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <ngx-phone-number-input [formControl]="formControl" [placeholderText]="'Exp'">
      </ngx-phone-number-input>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12 col-md-6">
      <button class="btn btn-primary" (click)="disable()">Disable</button>
      <button class="btn btn-primary ml-1" (click)="enable()">Enable</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12 col-md-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let value of values">
          {{value}} : {{formControl.value[value]}}
        </li>
      </ul>
    </div>
  </div>
</div>
